[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/dmasicev/HW23
Environment=FLASK_APP=app.py
ExecStart=/home/dmasicev/HW23/venv/bin/python -m flask run -h 0.0.0.0 -p 80
Restart=always

[Install]
WantedBy=multi-user.target